img{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    filter: blur(1px);
}
.home{
  position: fixed;
  bottom: 0;
  padding: 0;
}
.title{
  font-size: 400%;
  padding-left: 40px;
  padding-right: 20px;
  font-family: Georgia;
  background-color: rgba(0,0,0,0.2);
  border-top-right-radius:100px;
  border-bottom-right-radius:100px;
  margin: 0;
}
.btn{
  color:rgba(0,0,0,0.8);
  margin-bottom: 50px;
  align-items: center;
  width: 200px;
  
  padding: 25px;
  padding-left: 40px;
  background-color: rgba(255, 255, 255, 0.8);
  border-top-right-radius:50px;
  border-bottom-right-radius:50px;
  font-size: 200%;
  text-decoration: none;
}
.btn:hover{
  background-color: rgba(0,0,0,0.8);
  color: #fff;
}
a{
  
  text-decoration: none;
  font-family: Georgia;
}